spring:
  datasource:
    url: jdbc:h2:mem:clinic_db
    username: sa
    password: ""
    driver-class-name: org.h2.Driver
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 10
      initialization-fail-timeout: -1

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: false

  devtools:
    restart:
      enabled: true

logging:
  level:
    root: INFO
    com.mostafa.clinic: DEBUG
    org.springframework.security: DEBUG
    org.springframework.web: DEBUG

server:
  port: 8080
  error:
    include-message: always
    include-stacktrace: on_param
    include-exception: false

app:
  jwt:
    secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
    expiration: 86400000

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /v3/api-docs